<ng-container>
    <div *ngIf="isCarsEmpty() && !queryOngoing ; else loadingCars">
        <p>
        You fleet is unfortunately empty. You may want to add cars to it. <br>
        Feel free to use the "add" button on the upper right corner.<br><br> 
        If you think this is an error, please contact the support.
        </p>
    </div>
</ng-container>

<ng-template #loadingCars>
    <ng-container *ngIf="isCarsEmpty() && queryOngoing ; else carsAvailable">
        <div style="text-align: center">
            <br><br><h3>We are loading your car's fleet</h3><br><h4>Please wait...</h4><br>
            <div class="loader"></div>
        </div>
    </ng-container>
</ng-template>

<ng-template #carsAvailable>
<div class="accordion" id="carsAccordion">
    <div class="card" *ngFor="let car of cars">
        <div class="card-header" id="heading{{car.id.N}}" style="padding: 5px">
        <!-- Container for the header's header -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-8">
                    <a (click)="edit(car)">
                        <h5 class="card-title" *ngIf="car!==editCar">{{car.name.S}}</h5>
                        <input *ngIf="car===editCar" [(ngModel)]="car.name.S"
                            (blur)="update()" (keyup.enter)="update()">
                    </a>
                </div>
                <!-- TODO: hidden button to display more infos -->
                <div class="col-lg-9 col-3">
                    <a type="button" data-toggle="collapse" data-target="#collapse{{car.id.N}}" aria-expanded="false" aria-controls="collapse{{car.id.N}}">
                    </a> 
                </div>
                <div class="col-1 float-right"> 
                    <!-- Button trigger delete pop up -->
                    <button class="btn float-right" (click)="carToDelete(car)" data-toggle="modal" data-target="#deleteModal" type="button" data-placement="bottom" title="Delete this car from your fleet" style="right: 1px;">
                    <svg viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                    </button>
                </div>
            </div>
        </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3">
                        <span><i class="fas fa-car"></i></span>
                        <div>{{car.vin.S}}</div>
                    </div>
                    <div class="col-3">
                        <span><i class="fas fas fa-tachometer-alt"></i></span>
                        <div>{{car.odometer.N}}</div>
                    </div>
                    <div class="col-3">
                        <span><i class="fas fa-gas-pump"></i></span>
                        <div>{{car.fuel.N}}</div>
                    </div>
                    <div class="col-3">
                        <span><i class="fas fa-car-battery"></i></span>
                        <div>{{car.battery.N}}</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card's body : more info -->
        <div id="collapse{{car.id.N}}" class="collapse show" aria-labelledby="heading{{car.id.N}}" data-parent="#carsAccordion"> 
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 col-sm-10" > <!-- Info -->
                            <div class="row row-info">
                                <div class="col-6">
                                    <i class="fas fa-car-side"></i>
                                    {{car.make.S}}
                                </div>
                                <div class="col-6">
                                    <i class="fas fa-folder"></i>
                                    {{car.model.S}}
                                </div>
                            </div>
                            <div class="row row-info">
                                <div class="col-6">
                                    <i class="fas fa-key"></i>
                                    {{car.year.S}}
                                </div>
                                <div class="col-6">
                                    <i class="fas fa-info"></i>
                                    {{car.type.S}}
                                </div>
                            </div>
                            <div class="row info">
                                <div class="col-12">
                                    <i class="fas fa-burn"></i>
                                    {{car.fuelType.S}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-auto"> <!-- Google Maps -->
                            <agm-map 
                                    [latitude]="StringtoFloat(car.Position.M.lat.N)" 
                                    [longitude]="StringtoFloat(car.Position.M.lon.N)"
                                    >
                                <agm-marker 
                                    [latitude]="StringtoFloat(car.Position.M.lat.N)"
                                    [longitude]="StringtoFloat(car.Position.M.lon.N)"
                                    [label]=""
                                    [markerDraggable]=false>
                                        <agm-info-window>
                                            {{car.name.S}}
                                        </agm-info-window>
                                </agm-marker>
                            </agm-map>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal / Pop up to confirmation the delete of a car -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete a car</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            You are about to delete this car. <br>
            Are you sure you want to proceed?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteCar()">Delete</button>
        </div>
        </div>
    </div>
</div>

</ng-template>